//引入公共混函数
//@import "include.scss";
@mixin container{
    width:1000px;
    margin:0 auto;
}
@mixin flex{
    display: flex;
    justify-content:space-between;
}
@mixin icon-caret-down {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 4px solid #666;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;
    overflow: hidden;
}
@mixin i-icon{
    position: absolute;
    margin: 3px 0 0 8px;
    height: 14px;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    padding: 0 4px 0 3px;
    font-style: normal;
    margin-top:12px;
    &::after{
        content: '';
        position: absolute;
        left: -7px;
        top: 0;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px dashed transparent;
        overflow: hidden;
        line-height: 0;
    }
}
body {
    font-size: 12px;
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    color: #666;
}
a {
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

.header{
    width:100%;
    .mfw-header{
        width:100%;
        .header-wrap{
            @include container;
            height:68px;
            position: relative;
            display:flex;
            margin-bottom: -1px;
            .head-logo {
                position: relative;
                padding: 16px 0 13px;
                width: 136px;
                height: 39px;
                .mfw-logo {
                    display: block;
                    height: 39px;
                    background: url('../images/icon/header-sprites13.png') no-repeat 0 0;
                }
            }
            >.head-nav{
                display: inline;
                padding: 0 10px 0 25px;
                line-height: 68px;
                font-size: 16px;
                color: #333;
                display:flex;
                >li>a{
                    position:relative;
                    padding:0 16px;
                    display: inline-block;
                    color:#333;
                    z-index:11;
                    &:hover{
                        color:#FF9D00;
                        border-bottom:3px solid #FF9D00;
                        height:65px;
                    }
                }
                .index{
                    background-color:#FF9D00;
                    > a{
                        color:white !important;
                    }
                }
                >.head-nav-dropdown{
                    position: relative;
                    line-height: 62px;
                    border-top: 2px solid transparent;
                    .drop-toggle {
                        border:1px solid transparent;
                        padding: 0 18px 2px;
                        height: auto!important;
                        z-index:11;
                        .icon-caret-down {
                            @include icon-caret-down;
                            margin: 0 -5px 0 3px;
                            border-top-color: #666;
                            vertical-align: middle;
                            transition: border-top-color .5s ease-in-out 0s;
                        }
                    }
                    .dropdown-menu {
                        width: 140px;
                        display: none;
                        opacity: 0;
                        position: absolute;
                        top: 66px;
                        left:0;
                        border: 1px solid #d6d6d6;
                        border-top:0;
                        background-color: rgba(255,255,255,.9);
                        z-index: 10;
                        >ul>li{
                            height:40px;
                            line-height:40px !important;
                            a{
                                display:inline-block;
                                height:40px;
                                padding:0 10px 0 20px;
                                color:#666;
                                border:0;
                                font-size:14px;
                                .i-hot{
                                    @include i-icon;
                                    background-color: #f46240;
                                    &:after{
                                        border-right: 7px solid #f46240;
                                    }
                                }
                                .i-new{
                                    @include i-icon;
                                    background-color: #1EC896;
                                    &:after{
                                        border-right: 7px solid #1EC896;
                                    }
                                }
                            }
                        }

                    }
                    .dropdown-sales{
                        width:140px;
                        >ul>li{
                            &:hover{
                                background-color:#EEEEEE;
                            }
                        }
                        padding-bottom:10px;
                    }
                    .dropdown-community {
                        width:300px;
                        >.nav-list{
                            width:120px;
                            margin-left:17px;
                            height:300px;
                            float:left;
                            >li{
                                height:75px;
                            }
                        }
                        >.nav-list-sub{
                            width:120px;
                            margin-left:25px;
                            float:left;
                            >li{
                                height: 32px;
                                font-size: 14px;
                            }
                        }
                        >ul>li{
                            &:hover{
                                a{
                                   color:#ff9d00;
                                }

                            }
                        }
                    }

                    &:hover{
                        border-top:2px solid #ff9d00;
                        transition: border-top .5s ease-in-out 0s;
                        .dropdown-menu{
                            display:block;
                        }
                        .drop-toggle{
                            border-right-color:#EAEAEA;
                            border-left-color:#EAEAEA;
                            border-bottom-color:#fff;
                            transition: border-right-color .5s ease-in-out 0s;
                            transition: border-left-color .5s ease-in-out 0s;
                            color:#ff9d00;
                            .icon-caret-down{
                                border-top-color:#ff9d00;
                            }
                        }

                    }
                }
            }
            .login-out {
                position:absolute;
                right:0;
                top:0;
                padding: 21px 0;
                height: 26px;
                line-height: 26px;
                color: #c9c9c9;
                text-align: right;
                >a{
                    font-size:14px;
                    background-color: transparent;
                    color: #ff9d00;
                }
                .weibo-login,.qq-login,.weixin-login {
                    display: inline-block;
                    margin-right: 6px;
                    width: 26px;
                    height: 26px;
                    background-image: url('../images/icon/header-sprites13.png');
                    overflow: hidden;
                    vertical-align: -7px;
                }
                .weibo-login{
                    background-position: 0 -50px !important;
                    &:hover{
                        background-position: 0 -80px !important;
                    }
                }
                .qq-login{
                    background-position: -30px -50px !important;
                    &:hover{
                        background-position: 0 -80px !important;
                    }
                }
                .weixin-login{
                    background-position: 0 -165px !important;
                    &:hover{
                        background-position: -30px -165px !important;
                    }
                }
                .split {
                    display: inline-block;
                    margin: 0 10px;
                    width: 1px;
                    height: 14px;
                    background-color: #c9c9c9;
                    overflow: hidden;
                    vertical-align: -2px;
                }
                .showlogin:hover,.showreg:hover{
                    text-decoration:underline;
                }
            }

        }
    }
}
//轮播图
.mfw-focus{
    width:100%;
    border-top:1px solid #D6D6D6;
    margin-bottom:20px;
    .show-slider{
        background-color:#f1f4f5;
        width:100%;
        overflow:hidden;
        position:relative;
        .show-image{
            position:relative;
            width:100%;
            height:100%;
            text-align:center;
            >li{
                width:100%;
                position:absolute;
                left:0;
                top:0;
                >.show-pic{
                    display:block;
                    height:100%;
                    >img{
                        width:100%;
                        min-width:1000px;
                    }
                }
                >.show-title{
                    position:absolute;
                    top:25px;
                    left:0;
                    width:100%;

                    >a{
                        display:block;
                        width:1000px;
                        margin:0 auto;
                        color: #fff;
                        font-size: 26px;
                        text-shadow: 0 1px 3px rgba(0,0,0,.4);
                        text-align: left;
                        .date{
                            .day{
                                font-size:38px;
                            }
                        }
                        h3{
                            font-size: 26px;
                            font-weight: normal;
                        }
                    }
                    .dark{
                        text-shadow: 0 1px 3px rgba(0,0,0,.9);
                    }
                }
                .show-info{
                    position: absolute;
                    left: 50%;
                    bottom: 20px;
                    margin-left: -320px;
                    font-size: 14px;
                    color: #fff;
                    text-shadow: 1px 1px 0 rgba(0,0,0,.4);
                    text-align: left;
                    span a{
                        color:#FF9900;
                    }
                }

            }

        }
        .search-container{
            position:absolute;
            bottom:45px;
            left:50%;
            margin-left:-320px;
            width:632px;
            z-index:5;
            .search-group{
                padding:15px;
                background-color:rgba(0,0,0,0.6);
                border-radius:4px;
                .searchtab{
                    margin-bottom:5px;
                    color:#fff;
                    font-size:14px;
                    >ul{
                        display:flex;
                        >li{
                            margin-right:30px;
                            cursor:pointer;
                            height:26px;
                            line-height:26px;
                            padding-left:21px;
                            position:relative;
                            >i{
                                display:inline-block;
                                position:absolute;
                                left:0;
                                top:0px;
                                margin: 5px 5px 0 0;
                                width: 16px;
                                height: 16px;
                                background-image: url('../images/icon/header-sprites13.png');
                                background-position: -60px -110px!important;
                            }
                            >span{

                            }

                        }
                        .tab-selected i{
                            background-position: -60px -140px!important;
                        }
                    }
                }
                .searchbar{
                    height:46px;
                    overflow:hidden;
                    .search-wrapper{
                        width:546px;
                        float:left;
                        .search-input{
                            height:46px;
                            overflow:hidden;
                            input{
                                width:504px;
                                height:46px;
                                border:0;
                                outline:0;
                                line-height:46px;
                                font-size:16px;
                                color:#666;
                                border-radius:4px;
                                padding:0 21px;
                            }
                        }

                    }
                    .search-button{
                        margin-left:6px;
                        width:50px;
                        height:46px;
                        float:left;

                        a{
                            display:block;
                            height:46px;
                            background-color:#ff9d00;
                            border-radius:4px;
                            text-align:center;
                            &:hover{
                                background-color: #ff8a00;
                            }
                            .icon-search{
                                display:inline-block;
                                margin-top:11px;
                                width:24px;
                                height:24px;
                                background-image:url('../images/icon/header-sprites13.png');
                                background-position:0 -110px !important;
                                overflow:hidden;
                            }
                        }
                    }
                }
            }
        }
        .show-nav{
            position:absolute;
            right:40px;
            top:45%;
            width:110px;
            z-index:2;
            >li{
                width:100%;
                height:62px;
                margin-bottom:6px;
                cursor:pointer;
                border:2px solid transparent;
                >img{
                    width:110px;
                    height:62px;
                }
            }
            >li:nth-child(1){
                border-radius: 0 5px 0 0;
            }
            .active{
                border-color:#ff9d00;
            }
            >li:nth-last-of-type(1){
                position:relative;
            }
            .show-more{
                position: absolute;
                z-index: 2;
                left:0;
                top:80px;
                width: 110px;
                height: 35px;
                display:block;
                background-image: url('../images/icon/index-sprites9.png');
                background-position: -60px -50px!important;
                line-height: 200px;
                overflow: hidden;
            }
        }
    }
}
.content{
    @include container;

}
.mfw-aside{
    width:260px;
    float:left;
    .da-banner{
        margin-bottom:30px;
        width:100%;
        img{
            width:100%;
        }
    }
    .asidebox{
        margin-bottom:30px;
        width:100%;
        .asidebox-hd{
            height:35px;
            margin-bottom:12px;
            line-height:35px;
            .hd-title{
                font-size:18px;
                float:left;
                color:#333;
                font-weight:normal;
            }
            .hd-more{
                font-size:12px;
                float:right;
                color:#999;
                font-weight:normal;
                &:hover{
                    text-decoration:underline;
                }
            }
        }
    }
    .box-traveller{
        .asidebox-bd{
            width:260px;
            height:246px;
            overflow:hidden;
            position:relative;
            .slide-ul{
                position:absolute;
                top:0;
                left:0;
                width:500%;
                height:246px;
                li{
                    float:left;
                    width:20%;
                    .image{
                        height:140px;
                        overflow:hidden;
                    }
                    h3{
                        margin: 10px 0 5px;
                        width: 260px;
                        height: 26px;
                        font-size: 16px;
                        color: #333;
                        font-weight: normal;
                        line-height: 26px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        a{
                            color:#333;
                            &:hover{
                                color:#ff9d00;
                                text-decoration:underline;
                            }
                        }
                    }
                    p{
                        height: 60px;
                        line-height: 20px;
                        font-size: 14px;
                        overflow: hidden;
                    }
                }
            }
        }
        .slide-ol{
            position:absolute;
            right:7px;
            top:125px;
            li{
                float: left;
                display: inline;
                margin-left: 3px;
                width: 15px;
                height: 8px;
                background-color: #fff;
                border-radius: 4px;
                cursor: pointer;
                overflow: hidden;
            }
            .active{
                background-color: #ff9d00;
            }
        }
    }
    .box-gonglve{
        .asidebox-bd{
            height:307px;
            dl{
                dt{
                    width:110px;
                    float:left;
                    margin-right:20px;

                    img{
                        width:110px;
                        height:155px;
                    }
                }
                dd{
                    float: left;
                    width: 130px;
                    padding-top: 12px;
                    line-height: 20px;
                    h3{
                        line-height: 26px;
                        margin-bottom: 10px;
                        font-size: 22px;
                        font-weight: normal;
                        color: #333;
                        a{
                            color:#333;
                            &:hover{
                                text-decoration:underline;
                            }
                        }
                    }
                    p{
                        font-size:12px;
                    }
                }
            }
            ul{
                float:left;
                font-size: 14px;
                line-height: 28px;
                margin-top:12px;
                li{
                    width: 260px;
                    height: 28px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    a{
                        color:#ff9d00;
                        &:hover{
                            text-decoration:underline
                        }
                    }
                }
            }
        }
    }
    .box-activity{
        .asidebox-hd{
           .hd-more{
                color:#ff9d00;
            }
        }
        .activitynav{
            height:390px;
            position:relative;
            overflow:hidden;
            ul{
                position: absolute;
                top:0;
                left:0;
                li{
                    margin-bottom: 5px;
                    padding: 5px;
                    height: 40px;
                    color: #666;
                    line-height: 20px;
                    &:hover{
                        background-color:#F8F8F8;
                    }
                    img{
                        margin-right: 8px;
                        float:left;
                    }
                    strong{
                        font-size: 14px;
                        font-weight: normal;
                        color: #666;
                        span{
                            color:#ff9d00;
                        }
                        p{
                            font-size:12px;
                        }
                    }
                }
            }
            .scrollBar{
                position: absolute;
                right: 0px;
                top: 0px;
                width: 4px;
                height: 276px;
                border-radius: 10px;
                cursor: pointer;
                z-index: -1;
                opacity:0;
                background-color: rgb(214, 214, 214);
            }
        }
    }
    .box-hr{
        ul{
           margin-top: 10px;
           li{
                height: 30px;
                line-height: 30px;
                font-size: 14px;
                color: #666;
                a{
                    display: block;
                    color: #666;
                    &:hover{
                        color: #ff9d00;
                        span{
                            color: #ff9d00;
                        }
                    }
                }
                 span {
                    float: right;
                    font-size: 12px;
                    color: #999;
                }
                i{
                    margin-left: 6px;
                    font-size: 10px;
                    font-style: normal;
                    color: #d0122b;
                    background: url("../images/icon/sprite.png") 0 -27px no-repeat;
                    padding-left: 8px;
                }
           }
        }
    }
    .box-news{
        li{
            height: 30px;
            width: 260px;
            line-height: 30px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: relative;
            font-size:12px;
            a{
                margin-left: 5px;
                color: #666;
                &:hover{
                    text-decoration:underline;
                }
            }
        }
    }
}
.mfw-wrapper{
    float: right;
    width: 700px;
    .da-banner{
        margin-bottom:30px;
    }

}
.mfw-salse{
    margin-bottom: 30px;
    .hd{
        margin-bottom: 12px;
        font-size: 18px;
        color: #333;
        line-height: 35px;
    }
    .bd{
        height:217px;
        ul{
            margin-right: -20px;
            .item{
                float: left;
                width: 220px;
                display: inline;
                margin-right: 20px;
                a{
                    display:block;
                    .image{
                        height:135px;
                        position:relative;
                        img{
                            width:220px;
                            height:135px;
                        }
                        .discount{
                            position: absolute;
                            top: 0;
                            right: -4px;
                            height: 20px;
                            line-height: 20px;
                            padding: 0 10px;
                            background-color: #ff6155;
                            font-size: 14px;
                            color: #fff;
                            font-style:italic;
                            b{
                                font-size: 14px;
                                font-weight: bold;
                            }
                            &::after{
                                content: '';
                                position: absolute;
                                right: 0;
                                bottom: -8px;
                                border-top: 4px solid #7e1811;
                                border-right: 4px dashed transparent;
                                border-bottom: 4px dashed transparent;
                                overflow: hidden;
                                line-height: 0;
                                font-size: 0;
                            }
                        }
                        .info{
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            height: 35px;
                            background-color: #ff6155;
                            background-color: rgba(255,97,85,.9);
                            filter: alpha(90);
                            padding: 0 8px;
                            line-height: 34px;
                            color: #fff;
                            font-size: 14px;
                            .price{
                                float: right;
                                color: #fff;
                                font-size: 16px;
                                text-align:right;
                                padding:0 5px 5px;
                                strong{
                                    font-size:27px;
                                    font-weight:bold;
                                }
                            }

                        }
                    }
                    h3{
                        margin: 5px 0;
                        padding: 5px 10px 0;
                        font-size: 14px;
                        color: #000;
                        line-height: 20px;
                        height: 40px;
                        overflow: hidden;
                        font-weight: normal;
                        background-color: #fff;
                        position: relative;
                        z-index: 5;
                        height:40px;
                    }
                    .price{
                        text-align: right;
                        font-size: 16px;
                        color: #ff9d00;
                        padding: 0 5px 5px;
                        strong {
                            font-size: 18px;
                        }
                        em {
                            font-size: 14px;
                            font-style: normal;
                        }
                    }
                    &:hover{
                        h3{

                            background-color:#F8F8F8;
                            color:#ff9d00;
                        }
                        >.price{
                            background-color:#f8f8f8;
                        }
                    }
                }
                &:hover{
                    background-color:#f8f8f8;
                }
            }
        }
    }
}
.mfw-travelnotes{
    .navbar{
        margin-bottom: 20px;
        height: 36px;
        line-height: 36px;
        font-size: 16px;
        padding-bottom: 8px;
        border-bottom: 1px solid #e4e4e4;
        .tn-nav{
            float:left;
            >li{
                float: left;
                width: 150px;
                display: inline;
                text-align: center;
                a{
                    font-size:18px;
                    color:#333;
                    &:hover{
                        color:#ff9d00;
                    }
                }
            }
            .active{
                padding-bottom: 6px;
                border-bottom: 3px solid #ff9d00;
                position: relative;
                z-index: 11;
                a{
                    color:#ff9d00;
                }
            }
        }
        .tn-write{
            float:right;
            width:140px;
            .btn-add{
                display: block;
                height: 36px;
                background-color: #ff9d00;
                color: #fff;
                text-align: center;
                border-radius: 4px;
                i{
                    display: inline-block;
                    margin-right: 5px;
                    width: 18px;
                    height: 17px;
                    overflow: hidden;
                    vertical-align: -3px;
                    background:url('../images/icon/index-sprites9.png') no-repeat 0 0;
                }
                &:hover{
                    text-decoration: none;
                    background-color: #ff8a00;
                }
            }

        }
        .tn-tips{
            float:right;
            margin-right:20px;
            font-size:12px;
            color:#ff9d00;
            i{
                float: left;
                margin: 9px 4px 0 0;
                width: 16px;
                height: 16px;
                background: url('../images/icon/index-sprites9.png') no-repeat;
                background-position: -100px -30px!important;
                overflow: hidden;
            }
            &:hover{
                outline: 0;
                text-decoration: underline;
                color: #ff8a00;
            }
        }
    }
    .tn-menu{
        display: inline-block;
        margin-left: 7px;
        line-height: 20px;
        border: 1px solid #e5e5e5;
        color: #666;
        font-size: 12px;
        padding: 0 10px 0 8px;
        cursor: pointer;
        vertical-align: 2px;
        .tn-menu-icon{
            display:inline-block;
            float: left;
            margin: 6px 5px 0 0;
            width: 11px;
            height: 8px;
            background: url('../images/icon/index-sprites9.png') no-repeat 0 -130px;
        }
        &:hover{
            border-color: #ff9d00;
            background-color: #ff9d00;
            color: #fff;
            .tn-menu-icon{
              background-position:0 -140px;
            }
        }
    }
}
.pagelet-block{
    .tn-list{
        .tn-item{
            padding:15px 0;
            height:150px;
            &:hover{
                .tn-wrapper dt{
                    a{
                        color:#ff9d00;
                    }
                }
                background-color:#F8F8F8;
            }
            .tn-image{
                float:left;
                width:220px;
                height:150px;
                overflow:hidden;
                img{
                    width:220px;
                }
            }
            .tn-wrapper{
                float:right;
                width:455px;
                height:150px;
                dl{
                    height:117px;
                    dt{
                        height:26px;
                        line-height:26px;
                        margin-bottom:10px;
                        font-size:18px;
                        a{
                            width: 420px;
                            height: 26px;
                            display: block;
                            //float:left;
                            color: #333;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        .tn-from-app {
                            float: right;
                            width: auto;
                            padding: 0 7px;
                            border: 1px solid #ff9d00;
                            border-radius: 11px;
                            height: 20px;
                            line-height: 20px;
                            font-size: 12px;
                            color: #ff9d00;
                            font-weight: bold;
                            overflow: visible;
                            background-color: #fff;
                            cursor: text;
                            position:absolute;
                            i{
                                float: left;
                                margin: 2px;
                                width: 16px;
                                height: 16px;
                                background: url('../images/icon/index-sprites9.png') no-repeat -170px 0;
                            }
                            img{
                                position: absolute;
                                right: -5px;
                                top: 0;
                                padding-top: 25px;
                                width: 125px;
                                display: none;
                            }
                        }
                    }
                    dd{
                        line-height:20px;
                        font-size:14px;
                        overflow:hidden;
                        a{
                            color:#666;
                        }
                    }
                }
                .tn-extra{
                    height:33px;
                    overflow:hidden;
                    line-height:33px;
                    font-size:12px;
                    span{
                        display:inline-block;
                    }
                    .tn-place{
                        float:left;
                        margin-right:5px;
                        i{
                            float: left;
                            margin: 8px 5px 0 0;
                            width: 14px;
                            height: 16px;
                            background-position: 0 -50px!important;
                            overflow: hidden;
                            background: url('../images/icon/index-sprites9.png') no-repeat;
                        }
                        a{
                            color:#666;
                            &:hover{
                                span{
                                    color:#ff9d00;
                                    text-decoration:underline;
                                }
                            }
                        }
                    }
                    .tn-user{
                        float:left;
                        margin-right: 10px;
                        img{
                            margin-right: 5px;
                            width: 16px;
                            height: 16px;
                            overflow: hidden;
                            border-radius: 50%;
                            vertical-align: -3px;
                        }
                        a{
                            color:#ff9d00;
                            &:hover{
                                text-decoration:underline;
                            }
                        }
                    }
                    .tn-nums{
                        float: left;
                        font-size:14px;
                        i{
                            float: left;
                            margin: 10px 5px 0 0;
                            width: 18px;
                            height: 14px;
                            background-position: -30px -50px!important;
                            background: url('../images/icon/index-sprites9.png') no-repeat;
                        }
                        color:#A4A4A4;
                    }
                    .tn-ding{
                        float:right;
                        color:#ff9d00;
                        font-size:14px;
                        line-height:33px;
                        a{
                            display: inline-block;
                            float:right;
                            margin-left: 8px;
                            width: 38px;
                            height: 33px;
                            background-position: -60px 0!important;
                            background: url('../images/icon/index-sprites9.png') no-repeat;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}